.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-size: 0.2rem;
}
.root-wrap {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
@font-face {
  font-family: "iconfont"; /* project id 1151553 */
  src: url("//at.alicdn.com/t/font_1151553_3evtpbpfz0o.eot");
  src: url("//at.alicdn.com/t/font_1151553_3evtpbpfz0o.eot?#iefix")
      format("embedded-opentype"),
    url("https://at.alicdn.com/t/font_1151553_3evtpbpfz0o.woff2")
      format("woff2"),
    url("https://at.alicdn.com/t/font_1151553_3evtpbpfz0o.woff") format("woff"),
    url("https://at.alicdn.com/t/font_1151553_3evtpbpfz0o.ttf")
      format("truetype"),
    url("https://at.alicdn.com/t/font_1151553_3evtpbpfz0o.svg#iconfont")
      format("svg");
}
.icons {
  font-family: "iconfont";
  font-size: 0.45rem;
  display: inline-block;
}
